* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

body {
  /* width: 100vw; */
  /* background: #c0b9b9; */
  background-position: center;
  background-size: cover;
  font-family: "Fira Sans", sans-serif;
  min-height: 100vh;
}
.advertise {
  top: 100px;
  margin-left: 5%;
  /* color: white; */
  font-family: "Righteous", cursive;
  font-size: 30px;
}
.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 10%;
  display: flex;
  background-color:  #ffff;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.header::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(80px);
  z-index: -1;
}
.header::after {
  content: "";
  top: 0;
  left: -100%;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.4),
    transparent
  );

  transition: 0.8s;
}
.header:hover::after {
  left: 100%;
}
.nav-item {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: all 0.5s ease;
}
.nav-item:hover {
  color: skyblue;
  cursor: pointer;
}
.icons {
  position: absolute;
  right: 5%;
  font-size: 2.3rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: none;
  transition: 0.3s ease-in-out;
}
#check {
  display: none;
}
/* @media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
} */

@media (max-width: 768px) {

  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 17.7rem;
  }

  .nav-item {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
  .container1{
    display: grid;
    padding: 5px;
  }
}
 
 
#myVideo{
  top:0;
  position: static;
  width:100%;
  height: auto;
}

#changingImage{
  /* position: relative; */
  width:100%;
  height: auto;
}
/* -----------Footer------------- */
.container1
{
  position: relative;
  background-color: rgb(17, 16, 16);
  height:  auto;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px  ;
  display: flex;
  justify-content: space-around;
 /* top: 0; */
  

}
.footer{
  background-color:  rgb(17, 16, 16);
}
.li,.support,.about,.quick{
  font-size: small;
  color: rgb(162, 159, 159);
  text-decoration: none;
transition: all 0.35 ease;
   
  
   
}
.li,.support,.about,.quick:hower{
  transform: translateX(-8px);
  color: var(--bg-color);

   
  
   
}

.li,.about_u,.quick,.support_li{
  color: white;
  padding-left: 8px;
}
.about_u,.quick,.support_li{
  padding-top: 0 ;
  padding-bottom: 10px;
}
 
.big_links{
  display: grid;
  flex-wrap: wrap;
}
.quick_li{
  font-size: 25px;
  color: rgb(255, 255, 255);
 
}  
#ibtn  {
  color: rgb(255, 255, 255);
}

.quick{
  display: flex;
  justify-content:  flex-start;
  right: 0;padding-left: 8px;
  
}
ul {
  list-style: none;
}
 .last_txt{
  display: flex;
  justify-content: center;
   
 }
 .demo{
  color: rgb(173, 173, 173);
  padding-bottom: 20px;
  font-size: small;
 }
 li{
  padding: 8px;
 }
 @media (max-width: 768px){
  .container1{
    display: grid;
    /* padding: 20px; */
  }
  .about_u,.quick,.support_li,.li{
    padding-top: 20px ;
    /* padding-bottom: 10px; */
    
  }
  .last_txt{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }
   
 }