<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upstyle | Login Page</title>

    <link rel="stylesheet" href="styles/login.css" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

      @import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
    </style>
  </head>
  <body>
    <section>
    <header class="header">
      <a href="/" class="logo">UpStyle</a>

      <input type="checkbox" id="check" />
      <label for="check" class="icons">
        <i class="bx bx-menu" id="menu-icon"></i>
        <i class="bx bx-x" id="close-icon"></i>
      </label>

      <nav class="navbar">
        <a href="/home" class="nav-item" style="--i: 0">Home</a>
        <a href="/about" class="nav-item" style="--i: 1">About</a>
        <a href="/working-on-it" class="nav-item" style="--i: 2">Gallery</a>
        <a href="/working-on-it" class="nav-item" style="--i: 3"
          >Services</a
        >
        <a href="/about" class="nav-item" style="--i: 4">Contact</a>
        <a href="/user-login" id="form-open" class="nav-item"
        ><i class="bx bxs-user navbar-icon"> </i
      ></a>
      <a href="/cart" class="nav-item"
        ><i class="bx bx-shopping-bag navbar-icon"></i
      ></a>
      </nav>
    </header>
</section>
    <div class="split-screen">
      <div class="left">
        <section class="copy">
          <h1>Step Into Style</h1>
          <p>
            "Welcome to Sneaker Heaven! Where Every Step Tells a Story. Explore
            the Latest Trends, Hottest Kicks, and Unleash Your Sole's Passion.
            Get Ready to Walk the Talk with the Perfect Pair!
          </p>
        </section>
      </div>
      <div class="right">
        <section class="home">
          <div class="form_container">
            <i class="uil uil-times form_close"></i>
            <!-- Login From -->
            <div class="form login_form">
              <form action="#">
                <h2>Login</h2>

                <div class="input_box">
                  <input type="email" placeholder="Enter your email" required />
                  <i class="uil uil-envelope-alt email"></i>
                </div>
                <div class="input_box">
                  <input
                    type="password"
                    placeholder="Enter your password"
                    required
                  />
                  <i class="uil uil-lock password"></i>
                  <i class="uil uil-eye-slash pw_hide"></i>
                </div>

                <div class="option_field">
                  <span class="checkbox">
                    <input type="checkbox" id="check" />
                    <label for="check">Remember me</label>
                  </span>
                  <a href="#" class="forgot_pw">Forgot password?</a>
                </div>
                <button class="button login-button">Login Now</button>
                <div class="login_signup">
                  Don't have an account? <a href="#" id="signup">Signup</a>
                </div>
              </form>
            </div>

            <!-- Signup From -->
            <div class="form signup_form">
              <form action="/user-signup" method="POST">
                <h2>Signup</h2>

                <div class="input_box">
                  <input
                    type="name"
                    placeholder="Enter First Name"
                    required
                    name="firstName"
                  />
                  <i class="uil uil-letter-english-a email"></i>
                </div>
                <div class="input_box">
                  <input
                    type="name"
                    placeholder="Enter Last Name"
                    required
                    name="lastName"
                  />
                  <i class="uil uil-letter-english-a email"></i>
                </div>
                <div class="input_box">
                  <input
                    type="email"
                    placeholder="Enter your email"
                    required
                    name="email"
                  />
                  <i class="uil uil-envelope-alt email"></i>
                </div>
                <div class="input_box">
                  <input
                    type="tel"
                    placeholder="Enter Phone Number"
                    maxlength="10"
                    required
                    name="phone"
                  />
                  <i class="uil uil-phone email"></i>
                </div>
                <div class="input_box">
                  <input
                    type="password"
                    placeholder="Create password"
                    required
                    name="password"
                  />
                  <i class="uil uil-lock password"></i>
                  <i class="uil uil-eye-slash pw_hide"></i>
                </div>
                <!-- <div class="input_box">
              <input type="password" placeholder="Confirm password" required />
              <i class="uil uil-lock password"></i>
              <i class="uil uil-eye-slash pw_hide"></i>
            </div> -->

                <button class="button signup-button">Signup Now</button>

                <div class="login_signup signup-login">
                  Already have an account? <a href="#  " id="login">Login</a>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>

    <script src="scripts/login.js"></script>
  </body>
</html>
