* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  margin: 0;
  min-height: 100vh;
   
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
}
.scrollable {
  overflow: scroll;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.scrollable::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollable::-webkit-scrollbar-track {
  background-color: transparent;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.4rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.header::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(70px);
  z-index: -1;
}

.header::after {
  content: "";
  top: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.8s;
}

.header:hover::after {
  left: 100%;
}

.logo {
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.nav-item {
  position: relative;
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: all 0.5s ease;
}

.nav-item:hover {
  color: rgb(255, 0, 115);
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.3rem;
  color: #000000;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 992px) {
  /* .header {
    padding: 1.3rem 5%;
  } */
}

@media (max-width: 850px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(70px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 19.3rem;
  }

  .nav-item {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}
  #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    font-size: larger;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 12px 12px;
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 1px 0 0 rgb(45, 44, 44);
  }
  
  #scrollToTopBtn:hover {
    background-color: rgb(238, 238, 238);
    transform: translate(1px, 1px);
  }
  #scrollToTopBtn:active {
    box-shadow: 1px 0.5px 0 0 rgb(180, 179, 179);
    padding: 13px 13px;
  }
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  font-size: larger;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 12px 12px;
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 2px 1px 0 0 rgb(45, 44, 44);
}

#scrollToTopBtn:hover {
  background-color: rgb(238, 238, 238);
  transform: translate(1px, 1px);
}
#scrollToTopBtn:active {
  box-shadow: 1px 0.5px 0 0 rgb(180, 179, 179);
  padding: 13px 13px;
}
 
 


/* -----------Footer------------- */
.container1 {
  background-color: rgb(17, 16, 16);
  height: auto;
  width: 100%;

  bottom: 0;
  padding: 40px;
  display: flex;
  justify-content: space-around;
}
.footer {
  background-color: rgb(17, 16, 16);
}
.li,
.support,
.about,
.quick {
  font-size: small;
  color: rgb(229, 229, 229);
  text-decoration: none;
  transition: all 0.35 ease;
}
.li:hover,
.support:hover,
.about:hover,
.ibtn:hover {
  transform: translateX(-2px);
  color: orangered;
}

.li,
.about_u,
.quick,
.support_li {
  color: white;
  padding-left: 8px;
}
.about_u,
.quick,
.support_li {
  padding-top: 0;
  padding-bottom: 10px;
}

.big_links {
  display: grid;
  flex-wrap: wrap;
}
.quick_li {
  font-size: 25px;
  color: rgb(255, 255, 255);
}
.ibtn {
  color: rgb(255, 255, 255);
}

.quick {
  display: flex;
  justify-content: flex-start;
  right: 0;
  padding-left: 8px;
}
ul {
  list-style: none;
}
.last_txt {
  display: flex;
  justify-content: center;
}
.demo {
  color: rgb(173, 173, 173);
  padding-bottom: 20px;
  font-size: small;
}
li {
  padding: 8px;
}
@media (max-width: 768px) {
  .container1 {
    display: grid;
  }
  .about_u,
  .quick,
  .support_li,
  .li {
    padding-top: 20px;
  }
  .last_txt {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.contact_f {
  text-align: center;
  margin-top: 60px;
  padding: 20px 20px;
}
.card {
  display: block;
  width: auto;
  height: auto;
  border: 3px solid black;
  border-radius: 6px;
  padding: 50px;
  margin: 7% 20%;
  overflow: hidden;
}

.form__group {
  display: block;
  border-color: none;
  padding: 15px;
}
input {
  display: block;
  border: none;
}
textarea {
  display: block;
  border: none;
}
:placeholder-shown {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
}
.contact_us {
  display: flex;
  justify-content: space-between;
}

.send_btn button {
  background-color: rgb(33, 33, 33);
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.send_btn {
  padding: 16px;
}
.textarea {
  width: 100%;
  height: 150px;
}

@media (max-width: 786px) {
  .card {
    padding: 20px;
    left: 50%;
    margin: 3.5% 10%;
  }
  .contact_us {
    display: grid;
  }
}

input:focus,
textarea:focus {
  outline: none;
  width: 100%;
  border-bottom: 2px solid black;
}
@media (max-width: 917px) {
  input {
    width: scale();
  }
}
.form__label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  padding: 15px;
  transition: 0.2s ease all;
  opacity: 0.5;
}
.form__field {
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 3px solid rgb(79, 77, 77);
}
