 
  .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 45%; /* 16:9 aspect ratio */
  }
  #myVideo {
    top: 0;
    position: absolute;
    width: 100%;
    height: auto;
    padding: 0 32px;
  }
  @media (max-width: 786px) {
    #myVideo {
      padding: 16px 16px;
    }
  }
  .privacy-container {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    margin-top: 40px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    word-spacing: 4px;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  h4 {
    text-align: left;
  }
  p {
    text-align: left;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.5;
  }
  a{
    color: orangered;


  }