* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.scrollable {
  overflow: scroll;
  overflow-x: hidden;
}

.scrollable::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollable::-webkit-scrollbar-track {
  background-color: transparent;
}

a {
  text-decoration: none;
}
span {
  color: rgb(50, 87, 255);
}
body {
  display: inline-block;
  margin: 0;
  min-height: 100vh;
  /* background: url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/844a2e12-df15-4697-b172-3e05db4d3413) */
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-color: #f5f5f5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.4rem 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.header::before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(70px);
  z-index: -1;
}

.header::after {
  position: fixed;
  content: "";
  top: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.8s;
}

.header:hover::after {
  left: 100%;
}

.logo {
  font-size: 1.7rem;
  color: #000000;
  text-decoration: none;
  font-weight: 900;
  margin-right: 2px;
  /* border: 1px solid black; */
  padding: 6px;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, "Arial Narrow", Arial, sans-serif, Geneva,
    Tahoma, sans-serif;
}
.logo-image {
  position: absolute;
  height: 50px;
  width: 140px;
}
.nav-item {
  position: relative;
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: all 0.5s ease;
}

.nav-item:hover {
  color: rgb(255, 0, 115);
}

.icons {
  position: absolute;
  left: 2%;
  font-size: 2rem;
  color: #000000;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

nav {
  display: flex;
}
@media (max-width: 1390px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(70px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 19.3rem;
  }

  .nav-item {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
  .search-details {
    display: flex;
    width: 600px;
    margin-right: 3px;
  }
  .search-results-popup {
    width: 120%;
  }
}

@media (max-width: 850px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;

    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(70px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 19.3rem;
  }

  .nav-item {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
  .search-bar {
    display: block;
    margin-top: 10px; /* Adjust margin as needed */
  }

  .search-bar input {
    width: 100%;
  }

  .search-bar i {
    margin-left: 0; /* Remove left margin for the search icon */
  }
  .search-results-popup {
    width: 100%;
  }
}
.search-bar i {
  margin-left: 0; /* Remove left margin for the search icon */
}

.search-bar {
  /* Allow the search bar to take up available space */
  display: flex;
  align-items: center;
  margin: 0 1.5rem; /* Adjust margin as needed */
  background-color: #ffffff;
  border: 1px solid #111010;
  border-radius: 5px;
  padding: 5px 10px;
  /* max-width: 500px; */
  color: black;
}

.search-bar input {
  border: none;
  outline: none;
  flex-grow: 1;
  color: #000000;
}

.search-bar i {
  font-size: 1.2rem;
  margin-left: 10px;
  color: #000;
  cursor: pointer;
}
.search-details {
  position: relative;
  display: grid;
  margin-right: 3px;
}

/* Search results popup styles */
.search-results-popup {
  position: absolute;
  overflow-y: auto;
  z-index: 40;
  background-color: #f5f5f5;
  text-align: left;
  border-radius: 0 0px 10px 0;
  border: 1px solid #7c7c7c;
  height: 500px;
  top: 100%;
  border-top: none;
  width: 80%;
}
.result-item {
  padding: 10px;
  color: black;
}
.result-item span {
  color: black;
}
.insidesearch {
  margin-left: 0;
  margin-right: 0;
  padding-left: 24px;
}
.search-results-popup::-webkit-scrollbar {
  width: 0.1rem; /* Set the width to a very thin value */
}

/* Optionally, you can style the scrollbar track and thumb */
.search-results-popup::-webkit-scrollbar-track {
  background: transparent; /* Make the scrollbar track transparent */
}

.search-results-popup::-webkit-scrollbar-thumb {
  background: transparent; /* Make the scrollbar thumb transparent */
}
@media (max-width: 520px) {
  .search-details {
    position: static;
    display: grid;
    margin-right: 3px;
  }
  .search-results-popup {
    top: 100%;
    left: 0;
    text-align: justify;
    border-radius: 0 0px 10px 10px;

    width: 100%;
  }
  .result-item {
    padding-left: 20px;
    color: black;
  }
}
.log {
  display: none;
}
.profile {
  position: fixed;
  background-color: #f45b69;
  border: 1px solid #000;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  overflow: hidden;
  z-index: 99;
  right: 16px;
  cursor: pointer;
}
.profile img {
  width: 100%;
  /* height: auto; */
  /* object-fit: cover; */
  overflow: hidden;
  /* z-index: -4; */
}
.profile:hover {
  scale: 1.1;
  transition: 0.2s ease-in-out;
}
/* #scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  font-size: larger;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 12px 12px;
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 2px 1px 0 0 rgb(45, 44, 44);
}

#scrollToTopBtn:hover {
  background-color: rgb(238, 238, 238);
  transform: translate(1px, 1px);
}
#scrollToTopBtn:active {
  box-shadow: 1px 0.5px 0 0 rgb(180, 179, 179);
  padding: 13px 13px;
} */

/* MARQUEE */
/* .marquee {
  display: flex;
  overflow: hidden;
  height: 5px;
  user-select: none;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f45b69;
  /* transform: skewY(-3deg); */
/* transform: rotate(-5deg) translateY(-30px) translateX(50px);  
  margin-top: 63px;
}
.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  min-width: 100%;
  animation: scroll 15s linear infinite reverse;
  top: 20%;
}
.marquee__group span {
  color: rgb(9, 9, 9);
  font-size: 90%;
  font-weight: 800;
  white-space: nowrap;
  font-family: "Syne", sans-serif !important;
  /*text-transform: uppercase; 
} */

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

/* -----------Footer------------- */
.container1 {
  position: relative;
  background-color: rgb(17, 16, 16);
  height: auto;
  width: 100vw;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  /* top: 0; */
}
.footer {
  background-color: rgb(17, 16, 16);
}
.li,
.support,
.about,
.quick {
  font-size: small;
  color: rgb(228, 228, 228);
  text-decoration: none;
  transition: all 0.35 ease;
}
.li:hover,
.support:hover,
.about:hover {
  transform: translateX(-2px);
  transition: 0.2 ease;
  color: #ff385a;
}

.li,
.about_u,
.quick,
.support_li {
  color: white;
  padding-left: 8px;
}
.about_u,
.quick,
.support_li {
  padding-top: 0;
  padding-bottom: 10px;
}

.big_links {
  display: grid;
  flex-wrap: wrap;
}
.quick_li {
  font-size: 25px;
  color: rgb(255, 255, 255);
}
.ibtn {
  color: rgb(255, 255, 255);
}

.quick {
  display: flex;
  justify-content: flex-start;
  right: 0;
  padding-left: 8px;
}
ul {
  list-style: none;
}
.last_txt {
  display: flex;
  justify-content: center;
}
.demo {
  color: rgb(173, 173, 173);
  padding-bottom: 20px;
  font-size: small;
}
li {
  padding: 8px;
}
@media (max-width: 768px) {
  .container1 {
    display: grid;
    /* flex-wrap: wrap; */
    /* padding: 20px; */
  }
  .about_u,
  .quick,
  .support_li,
  .li {
    padding-top: 20px;
    /* padding-bottom: 10px; */
  }
  .last_txt {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* PRODUCTS */

#prodetails,
#prodetail {
  position: relative;
  display: flex;
  margin-top: 120px;
  width: 100%;
  height: auto;
}
#prodetails .single-pro-image {
  width: 200%;
  margin-right: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
}
#prodetail .uil-heart-alt:before {
  color: transparent;
}
#prodetail .single-pro-image {
  width: 50%;
  margin-right: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.left {
  position: relative;
  /* justify-content: space-between; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 980px;
  height: auto;
  border: 1px solid #ccc;
  overflow: hidden;
}
.right {
  position: relative;
}
.left img {
  /* background-color: #18bcbc; */
  width: 100%;
  object-fit: contain;
}
.shoe {
  display: flex;

  flex-basis: 50%;
}
.shoe1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #4a4a4a;
}
#prodetails .single-pro-details,
#prodetail .single-pro-details {
  /* width: 50%; */
  padding-top: 0px;
  margin-right: 20px;
  padding-right: 20px;
  height: auto;
}

#prodetails .single-pro-details h6,
#prodetail .single-pro-details h6 {
  padding: 0px 0 0 0;
}
#prodetails .single-pro-details h5,
#prodetail .single-pro-details h6 {
  padding: 5px 0;
}

.price-tag {
  display: flex;

  padding-bottom: 10px;
  font-weight: bolder;
  font-size: 20px;
}
.discounted-price p {
  color: #ff385a;
}
.actual-price {
  display: flex;
}
.actual-price span {
  margin-left: 10px;
  border: 1px solid gray;
  background-color: rgb(245, 166, 35);
  color: whitesmoke;
  border-radius: 8%;
}
.actual-price p {
  color: rgb(74, 74, 74);
  text-decoration: line-through;
}
.details {
  margin: 14px 0;
  color: #8e8a8a;
}
.PdtName {
  margin: 8px 0;
}
.discounted-price,
.actual-price {
  margin-right: 15px;
  padding-top: 4px;
}
.actual-price span {
  padding: 0 10px;
  margin-right: 15px;
}

.size {
  display: flex;
  margin-bottom: 10px;
}

.size div:last-child {
  padding-left: 10px;
  color: #ff385a;
}
.size-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
  /* justify-content: center; */
  align-items: center;
}
.size-container div {
  margin: 8px 5px;
  padding: 10px 18px;
  /* height: 40px; */
  line-height: 20px;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid transparent;
}

.size-container div:hover {
  cursor: pointer;
  border: 1px solid #ffa600c9;
}
.delivery {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.uil.uil-truck {
  display: inline-block;
  transform: rotateY(180deg);
  margin-left: 15px;
}

.order {
  display: flex;
  align-items: center;
  width: 100%;
}
.cart-button {
  width: 80%;
  display: flex;
}
.cart-button .add-to-cart {
  width: 50%;
  background-color: #ff8b9f;
}
button:active {
  transform: scale(1.05);
  opacity: 0.6; /* Increase the scale (you can adjust the value) */
}
.cart-button button {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  background-color: #ff385a;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  /* gap: 4rem; */
  margin: 4px;
}
.wishlist {
  width: 10%;
}
.wishlist :active {
  color: #ff385a;
}
.wishlist button {
  width: 100%;
  height: 40px;
  margin-left: 10px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: tomato;
}
.wishlist button i {
  padding: 0 5px;
  font-size: 16px;
  color: tomato;
  gap: 4px;
}
.uil-heart-alt {
  font-size: 50px;
  color: #000000;
}
form {
  width: 100%;
}
.pincode-code {
  border-radius: 5px;
  border: 1px solid #d4d5d9;
  box-shadow: 0;
  padding: 10px;
  font-size: 16px;
  min-width: 160px;
  outline: 0;

  margin-bottom: 10px;
}
.pincode-check {
  position: relative;
  right: 70px;
  cursor: pointer;
  background-color: transparent;
}
.pincode-button {
  outline: 0;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  background-color: #fff;
  border: 0;
  color: #ff3e6c;
  text-transform: capitalize;
}

.delivery-instruction {
  font-size: 13px;
  color: #282c3f;
}
.delivery-details {
  margin: 10px 0;
}
.details {
  /* display: flex; */
  /* flex-wrap: wrap; */
  font-size: 15px;
  color: #282c3f;
  margin: 5px 0;
  height: auto;
  width: 100%;
}
.pdt-details {
  margin-top: 15px;
}
.pdt-details-title {
  font-size: 16px;
}
.pdt-details-list {
  color: #4a4a4a;
  text-align: left;
  opacity: 0.92;
  line-height: 1.64;
  font-size: 14px;
}
.pdt-details-list ul {
  margin: 10px 0;
  padding-left: 25px;
  list-style: none;
}
.pdt-details-list ul li {
  font-size: 14px;
  padding: 0;
}

.pdt-details-list ul li::before {
  content: "•"; /* Unicode character for a bullet point */
  display: inline-block;
  width: 10px; /* Adjust the width of the space before the dot */
  margin-left: -20px; /* Counteract the padding on the ul */
}
#size {
  font-size: large;
  border-radius: 4px;
}
#quantity {
  font-size: large;
  border-radius: 4px;
  width: 30px;
}
@media (max-width: 964px) {
  #prodetails,
  #prodetail {
    display: grid;
    width: 100%;
    padding: 0 20px;
    grid-template-columns: 1fr;
  }
  .single-pro-image {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  #prodetails .single-pro-details,
  #prodetails .single-pro-detail {
    width: 100%;
    object-fit: cover;

    flex-wrap: wrap;
  }
  #prodetails .details {
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
    margin-right: calc(5% + 90px) !important  ;
  }
  .order {
    flex-wrap: wrap;
  }
}
@media (max-width: 964px) {
  #prodetails,
  #prodetail {
    display: grid;
    place-items: center;
    width: 100%;
    padding: 0 20px;
    grid-template-columns: 1fr;
  }
  #prodetails .single-pro-image,
  #prodetail .single-pro-image {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  #prodetails .single-pro-details,
  #prodetail .single-pro-details {
    object-fit: cover;
    flex-wrap: wrap;
  }
  .order {
    flex-wrap: wrap;
  }
}
@media (max-width: 603px) {
  .details {
    width: 80%;
  }
  #prodetails .single-pro-details,
  #prodetail .single-pro-details {
    object-fit: cover;
    flex-wrap: wrap;
  }
}
@media (max-width: 553px) {
  #prodetails .single-pro-details,
  #prodetail .single-pro-details {
    padding-left: 10px;

    object-fit: cover;
    flex-wrap: wrap;
  }
  #prodetails .single-pro-image,
  #prodetail .single-pro-image {
    margin-right: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  #prodetails,
  #prodetail {
    display: grid;
    place-items: start;
    width: 100%;
    padding: 0 10px;
    grid-template-columns: 1fr;
  }
  .cart-button button {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: #ff385a;
    color: white;
    font-size: 13px;
    font-weight: lighter;
    cursor: pointer;

    margin: 4px;
  }
}
@media (max-width: 435px) {
  #prodetails .single-pro-image,
  #prodetail .single-pro-image {
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
  }
  #prodetails .single-pro-image,
  #prodetail .single-pro-image {
    margin-right: 40px;

    margin-bottom: 20px;
  }
}
body {
  display: flex;

  justify-content: flex-end;
  /* align-items: flex-start; */
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  /* background-color: #f0f0f0; */
  /* font-family: "Fira Sans", sans-serif;; */
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton .left {
  background-color: #e6eaea;
  border-radius: 5px;
}
.skeleton p {
  width: 90%;
  color: transparent;
  background-color: #e6eaea;
  height: 1.3rem;
  margin-bottom: 5px;
  border-radius: 1rem;
  margin-left: 10px;
}
.skeleton h6 {
  width: 15%;
  background-color: #e6eaea;
  height: 1.3rem;
  margin-bottom: 5px;
  border-radius: 1rem;
  margin-left: 10px;
  color: transparent;
}
.skeleton h2 {
  width: 50%;
  background-color: #e6eaea;
  height: 1.6rem;
  margin-bottom: 5px;
  border-radius: 1rem;
  margin-left: 10px;
  color: transparent;
}
.skeleton h5 {
  width: 50%;
  background-color: #e6eaea;
  height: 1.6rem;
  margin-bottom: 5px;
  border-radius: 1rem;
  margin-left: 10px;
  color: transparent;
}
.skeleton .delivery-details p {
  width: 40%;
  background-color: #e6eaea;
  height: 1.6rem;
  margin-bottom: 5px;
  border-radius: 1rem;
  margin-left: 10px;
  color: transparent;
}

.skeleton button {
  background-color: #e6eaea;
  border: none;
  color: transparent;
}
.skeleton .add-to-cart {
  background-color: #e6eaea;
  border: none;
  color: transparent;
}
.skeleton .delivery-instruction p {
  width: 80%;
  background-color: #e6eaea;
  height: 1.3rem;
  margin-bottom: 5px;
  border-radius: 1rem;
  margin-left: 10px;
  color: transparent;
}
.skeleton li {
  width: 20%;
  background-color: #e6eaea;
  height: 1.6rem;
  margin-bottom: 5px;
  border-radius: 1rem;
  margin-left: 10px;
  color: transparent;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 95%);
  }

  100% {
    background-color: hsl(0, 0%, 100%);
  }
}
.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: 20px;
  font-family: Times;
  line-height: 1;

  &::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      rgb(255, 217, 4) var(--percent),
      rgb(244, 244, 244) var(--percent)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
#review-section {
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
#outerContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reviewContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #d7d5d5;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
.top {
  display: flex;
  padding: 5px;
  padding-bottom: 10px;
}
.top .avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #ff385a;
  z-index: 4;
  overflow: hidden;
}
.top .avatar img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 30px;
  z-index: -7;
  overflow: hidden;
  /* position: relative; */
}
#rate {
  padding-left: 20px;
}

.top {
  display: flex;
}
.nameStars {
  padding-left: 10px;
}

#featureSection .productContainer {
  display: flex;
  justify-content: space-between;
  padding: 40px 32px;
  overflow-y: hidden;
  gap: 50px;
  scroll-behavior: smooth;
}
#featureSection .productContainer::-webkit-scrollbar {
  width: 10%;
  height: 0.5rem;
}

#featureSection .productContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#featureSection .productContainer::-webkit-scrollbar-thumb {
  background: #7c7c7c;
  border-radius: 9px;
}

#featureSection .productContainer::-webkit-scrollbar-thumb:hover {
  background: #676464;
}
#featureSection .productContainer .product {
  margin-left: auto;
  margin-right: auto;
}
#featureSection {
  text-align: center;
  padding: 20px;
  margin: 20px;
  /* flex-wrap: wrap; */
}
#featureSection h1 {
  font-size: 40px;
  padding-top: 40px;
  padding-bottom: 10px;
  padding: 40px 30px 10px 30px;
  /* text-decoration: underline; */
}
#featureSection p {
  padding-bottom: 20px;
  color: rgb(87, 87, 87);
}
#featureSection .product {
  width: 18.5%;
  min-width: 200px;
  padding: 10px 5px;
  border: 1px solid rgb(230, 229, 229);
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0px;
  position: relative;
}
#featureSection .product:hover {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 5px 5px rgb(205, 205, 205);
  transform: scale(1.02);
  transition: 0.4s ease;
}
#featureSection .product img {
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  object-fit: contain;
  border-radius: 10px;
}
#change {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
#change:hover {
  opacity: 1;
}

#featureSection .product .descr {
  padding: 10px 20px;
  text-align: start;
}
#featureSection .product .descr h5 {
  color: rgb(41, 41, 41);
  font-weight: 800;
  font-size: 16px;
  padding-top: 10px;
}
#featureSection .product .descr h4 {
  color: rgb(78, 78, 78);
  font-weight: 100;
  padding-top: 5px;
}
/* #featureSection .product  .cart i{
  font-size: 25px;
} */
#featureSection .product .cart {
  display: flex;
  font-size: 30px;
  /* text-align: right; */
  padding-right: 10px;
  justify-content: space-around;
}
#featureSection .product .cart1 {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  color: rgb(82, 82, 82);
  font-weight: 10px;
  /* padding-right:  30px; */
  width: 40px;
  height: 40px;
  line-height: 40px;
  bottom: 10px;
  right: 20px;
  /* padding: 20px; */
  position: absolute;
  /* background-color: rgb(237, 237, 237); */
}
#featureSection .product .wishlist {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  color: rgb(82, 82, 82);
  font-weight: 10px;
  /* padding-right:  30px; */
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: 10px;
  left: 5px;
  /* padding: 20px; */
  position: absolute;
  transition: 0.1s ease;
}

#featureSection .product .cart1:hover {
  border: 1px solid rgb(37, 29, 29);
  box-shadow: 10px 5px 5px 4px rgb(216, 215, 215);
  color: rgb(0, 0, 0);
  transition: 1s ease;
}
#featureSection .product .wishlist:hover {
  /* border: 1px solid rgb(119, 117, 117); */
  box-shadow: 10px 5px 5px 4px rgb(216, 215, 215);

  color: #ff385a;
  transition: 0.1s ease;
}
#pro-contain {
  padding-top: 6vh;
  text-align: center;
  font-size: larger;
}
#pro-contain h1 {
  padding-top: 20px;
  font-size: 50px;
}

@keyframes footmoving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
@media (max-width: 525px) {
  .underline span {
    animation: footmoving 4s linear infinite;
  }
  #pro-contain h1 {
    padding-top: 20px;
    font-size: 30px;
  }
}

.point {
  cursor: pointer;
}
.clickable:hover {
  opacity: 0.8;
}
.clickable:active {
  scale: 1.02;
}
.availability {
  color: rgb(6, 6, 6);
  font-size: medium;
}

/* review  */
.writeReview {
  border: 1px solid #d7d5d5;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
h1 {
  font-size: 24px;
  /* margin-bottom: 20px; */
  color: #333;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.rating p {
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}

.rate {
  position: relative;
  height: 46px;
  padding: 0 10px;
}
.rate2 {
  position: absolute;
}
.rate2:not(:checked) > input {
  position: absolute;
  opacity: 0;
}
.rate2:not(:checked) > label {
  float: right;

  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate2:not(:checked) > label:before {
  content: "★ ";
}
.rate2 > input:checked ~ label {
  color: #ffc700;
}
.rate2:not(:checked) > label:hover,
.rate2:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate2 > input:checked + label:hover,
.rate2 > input:checked + label:hover ~ label,
.rate2 > input:checked ~ label:hover,
.rate2 > input:checked ~ label:hover ~ label,
.rate2 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.butt button[type="button"] {
  background-color: #ff3e6c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.butt button [type="button"]:hover {
  background-color: #ff3e6c;
}
@media (max-width: 600px) {
  #review-section {
    flex-direction: column;
  }
  .reviewContainer,
  .writeReview {
    width: 100%;
  }
}
