* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.scrollable {
  overflow: scroll;
  overflow-x: hidden;
}

.scrollable::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollable::-webkit-scrollbar-track {
  background-color: transparent;
}

a {
  text-decoration: none;
}
span {
  color: rgb(50, 87, 255);
}
body {
  margin: 0;
  display: inline-block;
  min-height: 100vh;
  /* background: url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/844a2e12-df15-4697-b172-3e05db4d3413) */
  font-family: "Fira Sans", sans-serif;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-color: #f5f5f5;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.4rem 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.header::before {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(70px);
  z-index: -1;
}

.header::after {
  position: fixed;
  content: "";
  top: 0;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.8s;
}

.header:hover::after {
  left: 100%;
}
span {
  color: black;
}
.logo {
  font-size: 1.7rem;
  color: #000000;
  text-decoration: none;
  font-weight: 900;
  margin-right: 2px;
  /* border: 1px solid black; */
  padding: 6px;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, "Arial Narrow", Arial, sans-serif, Geneva,
    Tahoma, sans-serif;
}
.logo-image {
  position: absolute;
  height: 50px;
  width: 140px;
}
.nav-item {
  position: relative;
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: all 0.5s ease;
}

.nav-item:hover {
  color: rgb(255, 0, 115);
}

.icons {
  position: absolute;
  left: 2%;
  font-size: 2rem;
  color: #000000;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

nav {
  display: flex;
}
@media (max-width: 1390px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(70px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 19.3rem;
  }

  .nav-item {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
  .search-details {
    display: flex;
    width: 600px;
    margin-right: 3px;
  }
  .search-results-popup {
    width: 120%;
  }
}

@media (max-width: 850px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;

    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(70px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar {
    height: 19.3rem;
  }

  .nav-item {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 1rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.3s ease;
  }

  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
  .search-bar {
    display: block;
    margin-top: 10px; /* Adjust margin as needed */
  }

  .search-bar input {
    width: 100%;
  }

  .search-bar i {
    margin-left: 0; /* Remove left margin for the search icon */
  }
  .search-results-popup {
    width: 100%;
  }
}
.search-bar i {
  margin-left: 0; /* Remove left margin for the search icon */
}

.search-bar {
  /* Allow the search bar to take up available space */
  display: flex;
  align-items: center;
  margin: 0 1.5rem; /* Adjust margin as needed */
  background-color: #ffffff;
  border: 1px solid #111010;
  border-radius: 5px;
  padding: 5px 10px;
  /* max-width: 500px; */
  color: black;
}

.search-bar input {
  border: none;
  outline: none;
  flex-grow: 1;
  color: #000000;
}

.search-bar i {
  font-size: 1.2rem;
  margin-left: 10px;
  color: #000;
  cursor: pointer;
}
.search-details {
  position: relative;
  display: grid;
  margin-right: 3px;
}

/* Search results popup styles */
.search-results-popup {
  position: absolute;
  overflow-y: auto;
  z-index: 40;
  background-color: #f5f5f5;
  text-align: left;
  border-radius: 0 0px 10px 0;
  border: 1px solid #7c7c7c;
  height: 500px;
  top: 100%;
  border-top: none;
  width: 80%;
}
.result-item {
  padding: 10px;
  color: black;
}
.result-item span {
  color: black;
}
.insidesearch {
  margin-left: 0;
  margin-right: 0;
  padding-left: 24px;
}
.search-results-popup::-webkit-scrollbar {
  width: 0.1rem; /* Set the width to a very thin value */
}

/* Optionally, you can style the scrollbar track and thumb */
.search-results-popup::-webkit-scrollbar-track {
  background: transparent; /* Make the scrollbar track transparent */
}

.search-results-popup::-webkit-scrollbar-thumb {
  background: transparent; /* Make the scrollbar thumb transparent */
}
@media (max-width: 520px) {
  .search-details {
    position: static;
    display: grid;
    margin-right: 3px;
  }
  .search-results-popup {
    top: 100%;
    left: 0;
    text-align: justify;
    border-radius: 0 0px 10px 10px;

    width: 100%;
  }
  .result-item {
    padding-left: 20px;
    color: black;
  }
}
.log {
  display: none;
}
.profile {
  position: fixed;
  background-color: #f45b69;
  border: 1px solid #000;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  overflow: hidden;
  z-index: 99;
  right: 16px;
  cursor: pointer;
}
.profile img {
  width: 100%;
  /* height: auto; */
  /* object-fit: cover; */
  overflow: hidden;
  /* z-index: -4; */
}
.profile:hover {
  scale: 1.1;
  transition: 0.2s ease-in-out;
}
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  font-size: larger;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 12px 12px;
  border-radius: 25px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 2px 1px 0 0 rgb(45, 44, 44);
}

#scrollToTopBtn:hover {
  background-color: rgb(238, 238, 238);
  transform: translate(1px, 1px);
}
#scrollToTopBtn:active {
  box-shadow: 1px 0.5px 0 0 rgb(180, 179, 179);
  padding: 13px 13px;
}

/* -----------Footer------------- */
.container1 {
  position: relative;
  background-color: rgb(17, 16, 16);
  /* height: 300px; */
  width: 100vw;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  /* top: 0; */
}
.footer {
  background-color: rgb(17, 16, 16);
}
.li,
.support,
.about,
.quick {
  font-size: small;
  color: rgb(228, 228, 228);
  text-decoration: none;
  transition: all 0.35 ease;
}
.li:hover,
.support:hover,
.about:hover,
.ibtn:hover {
  transform: translateX(-2px);
  transition: 0.2 ease;
  color: orangered;
}

.li,
.about_u,
.quick,
.support_li {
  color: white;
  padding-left: 8px;
}
.about_u,
.quick,
.support_li {
  padding-top: 0;
  padding-bottom: 10px;
}

.big_links {
  display: grid;
  flex-wrap: wrap;
}
.quick_li {
  font-size: 25px;
  color: rgb(255, 255, 255);
}
.ibtn {
  color: rgb(255, 255, 255);
}

.quick {
  display: flex;
  justify-content: flex-start;
  right: 0;
  padding-left: 8px;
}
ul {
  list-style: none;
}
.last_txt {
  display: flex;
  justify-content: center;
}
.demo {
  color: rgb(173, 173, 173);
  padding-bottom: 20px;
  font-size: small;
}
li {
  padding: 8px;
}
@media (max-width: 768px) {
  .container1 {
    display: grid;
    /* flex-wrap: wrap; */
    /* padding: 20px; */
  }
  .about_u,
  .quick,
  .support_li,
  .li {
    padding-top: 20px;
    /* padding-bottom: 10px; */
  }
  .last_txt {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }

  #card-add {
    flex-direction: column;
  }
  #coupon {
    width: 100%;
    padding-left: 30px;
  }
  #Subtotal {
    justify-content: center;
    width: 100%;
  }
}
/* @media (max-widht:476px){
  .section-p1{
    padding: 20px;
  }
  #card-add{
   
    flex-direction: column; 
  }
  #coupon{
    width: 100%;
  }

  #Subtotal{
    width: 100%;
    padding: 20px;
  }
 } */

/* CART */
.cart {
  /* max-width: 980px; */

  max-width: 100%;
  padding: 0 10px 16px;
  min-height: 320px;
  color: #282c3f;
  /* margin: 0 311px; */
  display: flex;
  /* margin: 40px; */

  margin-left: 20%;
}

.cart {
  max-width: 980px;
  margin: auto;
  margin-top: 90px;
  padding: 0 10px 16px;
  min-height: 320px;
  color: #282c3f;
}
.left {
  display: inline-block;
  width: 60%;
  padding-right: 20px;
  border-right: 1px solid #eaeaee;
  padding-top: 32px;
}

.right {
  vertical-align: top;

  width: 40%;
  padding-inline-start: 24px 0 0 16px;
}

.my-cart {
  margin-bottom: 14px;
  padding: 4px 0;
  width: 100%;
  font-weight: 700;
  cursor: default;
  pointer-events: none;
  border: 1px solid #eaeaec;
  padding: 12px;
}

.offers {
  width: 100%;
  margin-bottom: 10px;
  padding: 16px 18px 12px 18px;
  font-weight: 100;
  font-size: 14px;
  /* margin-left: 30px; */
  padding-bottom: 10px;
  border: 1px solid #eaeaec;
}
.avail-offer {
  display: flex;
}

.offer-icon i {
  padding-right: 6px;
}

.instant-discount,
.showMore summary {
  padding-top: 8px;
  width: 100%;
  margin-bottom: 18px;
  padding-left: 15px;
  text-indent: -15px;
  list-style: none;
  white-space: normal;
  margin-bottom: 8px;
  color: #282c3fd7;
}
.showMore summary {
  color: #ff3f6c;
}
.showMore details {
  color: #282c3fd7;
}
.login-directs {
  display: flex;
  width: 100%;
  /* margin-bottom: 18px;
  padding: 15px;
  text-indent: -15px; */
  list-style: none;
  white-space: normal;
  /* margin-bottom: 8px; */
  padding: 10px;
  /* justify-content: space-between; */
  border: 1px solid #eaeaec;
  align-items: center;
}
.delivery-icon i {
  font-size: 20px;
  color: #282c3fe0;
  padding-right: 10px;
}

.login-directs-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.login-directs div:nth-child(1) {
  align-items: flex-start;
}

.login-directs button {
  border: transparent;
  background-color: white;
  color: #ff3f6c;
  font-weight: bold;
  font-size: 16px;
  padding-right: 5px;
}

.items {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  line-height: 15px;
  align-items: center;
  margin-top: 26px;
  margin-bottom: 26px;
  padding: 0 12px 0 10px;
  font-weight: 700;
  font-size: 16px;
  color: #282c3f;
}

.add-items strong {
  color: #ff3f6c;
}

/* PRODUCTS */
.products {
  display: flex;
  width: 100%;
  height: auto;
  background: #f5f5f5;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 18px 12px;
  overflow: hidden;
}

.product-img {
  height: 150px;
  width: 180px;
}
.product-img img {
  width: 100%;
  height: auto;
  /* padding-right: 13px; */
}

/* //pdt-right-section */

.product-details {
  display: grid;
  width: 100%;
  height: 150px;
  font-size: 16px;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.pdt-details-top button {
  border: transparent;
  background-color: #f5f5f5;
  font-size: 18px;
}

.pdt-details-top,
.pdt-details-bottom {
  display: flex;
  flex-basis: 50%;
  /* align-items: flex-start; */
  justify-content: space-between;
}
.pdt-details-top {
  align-items: flex-start;
}

.pdt-details-bottom {
  align-items: flex-end;
}

.inputs {
  display: flex;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
}
.inputs-button button {
  border: transparent;
  background-color: white;
}
.Qty {
  border: 1px solid #e5e5e5;
  padding: 0 5px;
}
/*  RIGHT */
.right {
  padding-top: 32px;
  padding-left: 16px;
}

.coupon-container {
  margin-bottom: 18px;
}
.coupon-head {
  margin-bottom: 12px;
}
.coupon-head strong {
  font-size: 15px;
  font-weight: 700;
  color: #535766;
  text-transform: uppercase;
}

.coupons {
  display: flex;
  /* padding-bottom: 8px; */
  justify-content: space-between;
  padding-bottom: 15px;
  align-items: flex-start;
  position: relative;
  border-bottom: 1px solid #f5f5f6;
  /* padding-left: 36px; */
}

.apply-container {
  display: flex;
  width: 80%;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.coupon-icon {
  width: 10%;
}
.coupon-tag {
  display: flex;
  align-items: flex-start;
}

.apply {
  display: flex;
  align-items: flex-end;
}
.apply button {
  font-size: 12px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px 16px;
  font-weight: 600;
  border-radius: 2px;
  background-color: #f5f5f5;
  color: rgb(255, 63, 108);
  border-color: rgb(255, 63, 108);
  border-width: 1px;
  border-style: solid;

  cursor: pointer;
}

.coupon-offer {
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  flex-wrap: nowrap;
}

.coupon-offer strong {
  color: rgb(255, 63, 108);
  font-weight: bold;
  font-size: 16px;
}

.gifting {
  margin: 20px 0;
  border: 1px solid #eaeaec;
  padding: 5px;
  border-bottom: 1px solid #f5f5f6;
}

.breakdown-tag {
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.price-details {
  display: flex;
  padding-bottom: 8px;
  justify-content: space-between;
}

.price-details div {
  color: #535766;
}

.breakdown {
  border-bottom: 1px solid #535766a9;
}
.amount {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: bolder;
}

.pay {
  display: flex;
  width: 100%;
}

.pay button {
  width: 100%;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 2px;
  border-width: 0px;
  padding: 10px 16px;
  background-color: rgb(255, 63, 108);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 2px solid black;
  border-radius: 15px;
}

.discount div:nth-child(2) {
  color: #03a685;
}

/* MEDIA QUERIES */
@media screen and (max-width: 755px) {
  .apply-container {
    display: grid;
    /* align-items: center;
    justify-content: center; */
  }
  .coupon-tag {
    align-items: center;
    justify-content: center;
  }
  .apply button {
    position: relative;
  }
  .apply {
    padding-top: 7px;
  }
}

@media screen and (max-width: 660px) {
  .apply button {
    position: absolute;
  }
  .cart {
    display: grid;
  }
  .left,
  .right {
    width: 100%;
  }
  .left {
    padding-right: 0px;
  }
  .right {
    padding-left: 0px;
  }
}

@media screen and (max-width: 330px) {
  .apply button {
    position: absolute;
  }
  .cart {
    display: grid;
  }
  .left,
  .right {
    width: 100%;
  }
  .left {
    padding-right: 0px;
  }
  .right {
    padding-left: 0px;
  }
}
p {
  padding-left: 5px;
}
.breakdown {
  display: block;
  border: 1px solid rgb(219, 219, 218);
  border-bottom: none;
  padding: 10px;
  padding-bottom: none;
}
/* .right .breakdown {
  display: none;
} */
.amount {
  border-left: 1px;
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton .product-img {
  background-color: #e8e8ea;
  border-radius: 5px;
}
.skeleton .product-details {
  display: block;
}
.skeleton .pdt-details-top p {
  width: 80%;
  background-color: #e6eaea;
  height: 1.3rem;
  margin-bottom: 5px;
  border-radius: 0.125rem;
  margin-left: 10px;
}
.skeleton .product-details .pdt-details-bottom .mrp {
  height: 0.7rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 95%);
  }

  100% {
    background-color: hsl(0, 0%, 100%);
  }
}
a {
  text-decoration: none;
}
#products-dum img {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
}
#products-dum .product-details {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 90px;
}
#products-dum .product-details span {
  color: #ff3f6c;
}
#products-dum {
  display: none;
}
.point {
  cursor: pointer;
}
.clickable:hover {
  opacity: 0.9;
}
.clickable:active {
  scale: 1.02;
}
.home {
  text-decoration: none;
  background-color: #ff3f6c;
  color: white;
  padding: 12px 24px;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.5s;
  display: inline-block;
  margin-top: 20px;
}
.home:hover {
  box-shadow: grey;
  background-color: #ff3f6c97;
}

.payment-success {
  font-size: 20px;
  color: #03a665;
}
.payment-success i {
  padding-left: 4px;
}

.offers{
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: column;
  }