* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-position: center;
  background-size: cover;
  font-family: "Fira Sans", sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}
.header-poster {
  width: 100%;
}
.header-poster img {
  height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}
.scrollable {
  overflow: scroll;
  overflow-x: hidden;
}

.scrollable::-webkit-scrollbar {
  width: 0.1rem;
  height: 0.1rem;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollable::-webkit-scrollbar-track {
  background-color: transparent;
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  left: 50%;
}
.logo-img {
  display: block;
  margin: 0;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.4rem 10px;
  display: flex;
  background-color: #eae6e6;
  justify-content: space-around;
  align-items: center;
  overflow-wrap: hidden;
  box-shadow: 0px 5px 15px rgb(121, 120, 120);
  z-index: 999;
}
.header .logo-and-right-navbar {
  margin: 0 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}
.upstyle {
  /* position: relative; */
  /* flex: 1;   */
  padding-left: 48.5%;
}
.right-navbar {
  text-align: right;
}
/* .header::before {
  position: sticky;
  top: 0;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.551);
  z-index: -1;
} */
/* .header::after {
  position: sticky;
  top: 0;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  transition: 0.8s;
} */
/* .header:hover::after {
  left: 100%;
} */
.nav-item {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: all 0.5s ease;
}
.nav-item:hover ,.navbar-icon:hover {
  color: orangered;
  border-bottom: 1px groove red;
  font-size: x-large;
  cursor: pointer;
}
.icons {
  position: absolute;
  left: 5%;
  font-size: 2.3rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: none;
  transition: 0.3s ease-in-out;
}
#check {
  display: none;
}
.header-poster img {
  width: 100%;
  height: auto;
}
.navbar .nav-item:last-child i {
  font-size: 1.5rem;
  margin-top: 0;
}
.navbar .nav-item:last-child i:hover {
  color: orangered;
  cursor: pointer;
}
.navbar {
  display: flex;
}
/* @media (max-width: 788px) { */
.icons {
  display: inline-flex;
}

#check:checked ~ .icons #menu-icon {
  display: none;
}

.icons #close-icon {
  display: none;
}

#check:checked ~ .icons #close-icon {
  display: block;
}
.navbar .nav-item {
  padding: 10px 0;
}
.navbar-icon {
  font-size: x-large;
  color: black;
}
.navbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
}

#check:checked ~ .navbar {
  height: 17rem;
}

.nav-item {
  display: block;
  font-size: 1.3rem;
  text-align: center;
  transform: translateX(-50px);
  opacity: 0;
  transition: all 0.3s ease;
}
.bxcarting i {
  margin: 0;
}

#check:checked ~ .navbar a {
  transform: translateY(0);
  opacity: 1;
  transition-delay: calc(0.15s * var(--i));
}

.nav-item i {
  font-size: 26px;
}

.navigate .bx-heart {
  display: none;
}

@media (max-width: 786px) {
  .upstyle {
    padding-left: 43%;
  }
}
@media (max-width: 400px) {
  .upstyle {
    padding-left: 38%;
  }
  .right-navbar .bx-heart {
    display: none;
  }
  .navigate .bx-heart {
    display: block;
  }
}
@media (max-width: 330px) {
  .upstyle {
    padding-left: 33%;
  }
}
/* mARQUEE */
.marquee {
  display: flex;
  overflow: hidden;
  height: 5px;
  user-select: none;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
background-color:orangered ;
   /* transform: skewY(-3deg); */
   /* transform: rotate(-5deg) translateY(-30px) translateX(50px); */
}
.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  min-width: 100%;
  animation: scroll 15s linear infinite reverse;
}
.marquee__group span {
  color: rgb(9, 9, 9);
  font-size: 90%;
  font-weight: 800;
  white-space: nowrap;
  font-family: 'Syne', sans-serif !important;
  /*text-transform: uppercase;*/
  
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

/* -----------Footer------------- */
.container1 {
  background-color: rgb(17, 16, 16);
  height: auto;
  width: 100%;

  bottom: 0;
  padding: 40px;
  display: flex;
  justify-content: space-around;
}
.footer {
  background-color: rgb(17, 16, 16);
}
.li,
.support,
.about,
.quick {
  font-size: small;
  color: rgb(162, 159, 159);
  text-decoration: none;
  transition: all 0.35 ease;
}
.li,
.support,
.about,
.quick:hower {
  transform: translateX(-8px);
  color: var(--bg-color);
}

.li,
.about_u,
.quick,
.support_li {
  color: white;
  padding-left: 8px;
}
.about_u,
.quick,
.support_li {
  padding-top: 0;
  padding-bottom: 10px;
}

.big_links {
  display: grid;
  flex-wrap: wrap;
}
.quick_li {
  font-size: 25px;
  color: rgb(255, 255, 255);
}
.ibtn {
  color: rgb(255, 255, 255);
}

.quick {
  display: flex;
  justify-content: flex-start;
  right: 0;
  padding-left: 8px;
}
ul {
  list-style: none;
}
.last_txt {
  display: flex;
  justify-content: center;
}
.demo {
  color: rgb(173, 173, 173);
  padding-bottom: 20px;
  font-size: small;
}
li {
  padding: 8px;
}
@media (max-width: 768px) {
  .container1 {
    display: grid;
  }
  .about_u,
  .quick,
  .support_li,
  .li {
    padding-top: 20px;
  }
  .last_txt {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.contact_f {
  text-align: center;
  margin: 0 auto;
  padding: 20px 20px;
}
.card {
  display: block;
  width: auto;
  height: auto;
  border: 3px solid black;
  border-radius: 6px;
  padding: 50px;
  margin: 7% 20%;
  overflow: hidden;
}

.form__group {
  display: block;
  border-color: none;
  padding: 15px;
}
input {
  display: block;
  border: none;
}
textarea {
  display: block;
  border: none;
}
:placeholder-shown {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
}
.contact_us {
  display: flex;
  justify-content: space-between;
}

.send_btn button {
  background-color: rgb(33, 33, 33);
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.send_btn {
  padding: 16px;
}
.textarea {
  width: 100%;
  height: 150px;
}

@media (max-width: 786px) {
  .card {
    padding: 20px;
    left: 50%;
    margin: 3.5% 10%;
  }
  .contact_us {
    display: grid;
  }
}

input:focus,
textarea:focus {
  outline: none;
  width: 100%;
  border-bottom: 2px solid black;
}
@media (max-width: 917px) {
  input {
    width: scale();
  }
}
.form__label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  padding: 15px;
  transition: 0.2s ease all;
  opacity: 0.5;
}
.form__field {
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 3px solid rgb(79, 77, 77);
}
